@font-face {
    font-family: 'PP Neue Montreal Book';
    src: url('/fonts/PPNeueMontreal-Book.woff2') format('woff2'),
        url('/fonts/PPNeueMontreal-Book.woff') format('woff'),
        url('/fonts/PPNeueMontreal-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    position: relative;
    font-family: 'PP Neue Montreal Book', sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s, color 0.5s;
    background-color: black;
    color: white;
}

header {
    background-color: rgba(107, 106, 106, 0.201);
}

.mac-navbar {
    display: flex;
    height: 20px;
    padding: 5px;
}

.mac-btn {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 6px;
    transition: 0.5s;
}

.red {
    background-color: grey;
}

.red:hover {
    background-color: #ff5f57;
}

.yellow {
    background-color: grey;
}

.yellow:hover {
    background-color: #ffbd2e;
}

.green {
    background-color: grey;
}

.green:hover {
    background-color: #28c745;
}

.mac-title {
    color: grey;
    margin-left: auto;
    margin-right: auto;
    line-height: 10px;
    font-size: 12px;
}

.clock-container {
    color: grey;
    font-size: 12px;
}

.light-theme {
    background-color: #fff;
    color: #000000;
}

.dark-theme {
    background-color: #000000;
    color: #fff;
}

.dark-theme header {
    background-color: #333;
}

.navbar {
    display: flex;
    list-style-type: none;
    margin: auto;
    gap: 60px;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    padding-top: 0.5rem;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    border: white;
    position: relative;
}

.navbar a {
    color: rgba(91, 90, 90, 0.821);
    font-size: 13px;
    line-height: 20px;
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    transition: 1.5s;
    color: white;
}

.light-theme .navbar a:hover {
    color: #000;
}

.navbar-line {
    width: 100%;
    height: 1.250px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 68px;
    z-index: 1;
}

.light-theme .navbar-line {
    background-color: grey;
}

#theme-toggle {
    display: flex;
    align-items: center;
}

#theme-button {
    background: none;
    border: none;
    cursor: pointer;
}

#theme-icon {
    width: 24px;
    height: 24px;
}

@media only screen and (max-width: 768px) {
    .navbar {
        padding: 0;
        gap: 30px;
    }

    .navbar a {
        margin-inline-end: -20px;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .navbar-line {
        top: 4rem;
    }
}

.saurav {
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
}

.saurav img {
    border-radius: 12px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    filter: grayscale(100%);
    opacity: 0.8;
}

.light-theme .saurav img {
    transition: 0.5s;
    opacity: 1;
}

.intro {
    max-width: 600px;
    margin: 20px auto;
    margin-top: -50px;
    padding: 20px;

}

.intro h3 {
    font-family: 'PP Neue Montreal Book', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.intro p {
    color: grey;
    font-size: 16px;
    font-size: medium;
    font-weight: 500;


}

.white-text {
    font-size: bolder;
    color: white;
    opacity: 0.9;
}

.light-theme .white-text {
    color: #000000;
    opacity: 1;
}

.cv h2 {
    font-family: 'PP Neue Montreal Book', sans-serif;
    font-weight: 500;
    font-size: 24px;
    max-width: 600px;
    margin: 0 auto;
}

.cv img {
    display: block;
    max-width: 600px;
    margin: 20px auto;
    width: 100%;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 20px;
}

.skills-slider {
    overflow: hidden;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    margin-bottom: 20px;

    position: relative;
}

.skills-slider h4 {
    font-family: 'PP Neue Montreal Book', sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 10px;
    color: rgb(3, 3, 3);
}

.dark-theme .skills-slider h4 {
    color: white;
}

.slider-container {
    padding-top: 40px;
    display: flex;
    width: fit-content;
    animation: scroll 20s linear infinite;
}

.skill {
    position: relative;
    flex: 0 0 auto;
    width: 120px;
    margin: 0 10px;
    text-align: center;
}

.skill img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.dark-theme .skill2 img {
    content: url(inverted_skill2.png);
}

.dark-theme .skill1 img {
    content: url(skill1_inverted.png);
}

.dark-theme .skill3 img {
    content: url(skill3_inverted.png);
}

.dark-theme .skill4 img {
    width: 60px;
    margin-top: -7.5px;
}

.skill::before {
    content: attr(data-name);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.skill:hover::before {
    opacity: 1;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }



    100% {
        transform: translateX(calc(-120px* 4));
        /* Move back to the starting position */
    }
}


.gallery {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gallery h4 {
    font-family: 'PP Neue Montreal Book', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: white;
    position: relative;
    text-decoration: none;
}



.light-theme .gallery h4 {
    color: black;
}

.row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.column {
    flex: 1;
    position: relative;



}

.column img {
    width: 100%;
    border-radius: 8px;
}

.gallery img {
    transition: filter 0.5s ease;
}

.gallery img:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    z-index: 6;
}

#backToTopBtn {
    display: none;
    position: fixed;
    right: 20px;
    z-index: 999;
}

#backToTopBtn img {
    width: 24px;
    height: 24px;
}


#backToTopBtn img:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.connect {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    margin-bottom: 20px;
}

.connect h4 {
    font-family: 'PP Neue Montreal Book', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
}


.contact-links {
    text-align: left;
    margin-left: 5rem;
}

.contact-links a {
    margin-right: 15px;
    text-decoration: none;
    color: #ffffff;
    opacity: 0.3;
    transition: opacity 0.3s;
}

.light-theme .contact-links a {
    color: #000;
}

.contact-links a.active {
    opacity: 1;
}



.footer-line {
    width: 100%;
    height: 1.5px;
    left: 0;
    background-color: rgb(136, 136, 136);
    position: absolute;
    bottom: -0px;

}